@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 77, 77, 77;
    --background-start-rgb: 249, 250, 251;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            rgba(255, 153, 51, 0.05),
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Smooth Transitions */
a,
button {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #FF9933;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e68a00;
}

.text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-jain-orange to-jain-red;
}