@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-peace-white text-stone-gray font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-900;
  }
}
